<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="utf-8">
        {%  block head %}
            <title>AirHaven</title>
            <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} type="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {%  endblock %}
    </head>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>